@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

* {
  color: white;
  font-family: 'Comic Neue';
}

body {
  margin: 0;
  background-color: rgb(0, 0, 83);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 50px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42vw;
  height: 42vw;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.1);
  margin: 0
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 40vw;
  height: 40vw;
  position: relative
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cell {
  border-radius: 10px;
  width: auto;
  height: auto;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: rgb(0, 114, 229);
  border: 1px solid rgba(0, 0, 255, 0.2);
  box-shadow: 0px 0px 2px 5px rgba(0, 128, 255, 0.3);
  z-index: 1
}

.info {
  display: flex;
  justify-content: space-between;
}

.score {
  font-size: 50px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.level {
  font-size: 50px;
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snek-snack {
  background: rgba(36, 239, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 2px 5px rgba(26, 255, 0, 0.3);
  /* transition: 0.2s */
}

.wasted {
  display: none;
  position:relative;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
}

.wasted-logo {
  height: 100px;
  opacity: 0;
}

.dflex {
  display: flex;
}

.visible {
  opacity: 1;
}
